player-connection-mode=Listen
player-connection-guid=854357650
player-connection-debug=0
player-connection-project-name=PassTheBomb
player-connection-ip=192.168.1.107
player-connection-ip=26.129.1.224
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fa78fd494db0461cb68f35213aa3028f
